/*
  Styling the signup page.
  */
  .signUp-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/images/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    

 }
 .text{

    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;
 }
 input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #555;
    width: 80%;
  }
 
  .holder{
    text-align: center;
    background-color:	#A8A8A8;
    width: 35%;
    border-radius: 8px;
  }

  p{
    font-size: 1.5rem;
    color: white;
  }