/*
Designing the navigation bar.
*/
.logs{
    text-align: right;
    padding-right: 10%;
}

.login{
    margin-top: 5%;
}

.signup{
    margin-top: 5%;
}

.brandName{
    font-family: 'Pacifico', cursive;
    margin-top: 5%;
    display: inline-block;
    margin-left: 20%;
    font-size: 3rem;
}



/*
Designing the body for home.ejs.
*/
img{
    display: block;
}


.logo1{
    width: 350px;
    height: 200px;
}
.bucket{
    text-align: center;
    margin-top: 10%;
}
.image1{
    margin-top: 15%;
    width: 100%;
    height: 70%;
}
.headBucket{
    margin-top: 15%;
}

.image2{
    width: 100%;
    height: 70%;

}

hr {
    border: 5px dotted black;
    width: 50%;
    border-style: none none dotted; 
    color: #fff; 
    background-color: #fff;
}
.bucket2{
    text-align: center;
}

.logo2{
    width: 150px;
    height: 100px;
}

.logo3{
    width: 150px;
    height: 100px;

}
.image3{
    width: 100%;
    height: 70%;

}

/*
Subscription form
*/
.subscription{
    text-align: center;
}

.emailTextBox, .fullNameTextBox{
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    border-radius: 8px;
    box-sizing: border-box;
    transition: width 0.4s ease-in-out;

}
input[type=text]:focus {
    border: 3px solid #555;
    width: 50%;
  }

  .infoForm{
    background-color: aliceblue;
  }